<div class="container mt-4">

<%= render "shared/breadcrumbs" %>

  <h1><%= @product.name %></h1>

  <hr>

  <!--  PRODUCT IMAGE -->
  <% if @product.image.attached? %>
  <%= image_tag @product.image.variant(resize_to_limit: [600, 600]),  <% end %>

  <!--  PRODUCT DETAILS -->
  <p><strong>Description:</strong></p>
  <p><%= @product.description %></p>

  <p><strong>Price:</strong> $<%= @product.price %></p>
  <p>
  <strong>Tags:</strong>
  <% if @product.tags.any? %>
    <%= @product.tags.map(&:name).join(", ") %>
  <% else %>
    No tags assigned
  <% end %>
</p>
  <p><strong>Stock:</strong> <%= @product.stock %></p>

  <p><strong>Category:</strong> <%= @product.category.name %></p>

  <hr>

  <!-- 🔙 BACK BUTTON -->
  <%= link_to "Back to Products", products_path, class: "btn btn-dark" %>

</div>